.tutorial_window
    overflow: hidden
    margin: 30px
    //padding: 50px 150px
    //width: 75vw
    display: flex
    flex-direction: row
    justify-content: space-around
    #vr
        height: 66.3vh
        width: 1px
        border-radius: 10px
        background-color: #9999993b